$springEase: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$smooth: cubic-bezier(0.36, 0.07, 0.19, 0.97);

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in-from-bottom {
  opacity: 0;
  transform: translateY(100%);
  animation: fadeInFromBottom 0.5s $smooth forwards;
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.zoom-in-x {
  transform: scaleX(0);
  animation: zoomInX 0.25s $smooth forwards;
}

@keyframes zoomInX {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.shrink-in {
  transform: scale(1.618);
  animation: shrinkIn 0.25s ease-out forwards;
}

@keyframes shrinkIn {
  from {
    transform: scale(1.618);
  }

  to {
    transform: scale(1);
  }
}

.shrink-fade-in {
  transform: scale(1.618);
  opacity: 0;
  animation: shrinkFadeIn 1s $springEase forwards;
}

@keyframes shrinkFadeIn {
  from {
    opacity: 0;
    transform: scale(1.618);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.shrink-fade-side-in {
  transform: translate(1rem, -1rem) scale(1.618);
  opacity: 0.5;
  animation: shrinkFadeSideIn 0.4s $springEase forwards;
}

@keyframes shrinkFadeSideIn {
  from {
    opacity: 0.5;
    transform: translate(1rem, -1rem) scale(1.618);
  }

  to {
    opacity: 1;
    transform: translate(0rem, 0rem) scale(1);
  }
}

.blink {
  opacity: 0;
  animation: blink 1s ease-in-out infinite;
}

.slide-in-left {
  transform: translateX(-100%);
  animation: slideInLeft 0.5s $smooth forwards;
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.slide-in-right {
  transform: translateX(100%);
  animation: slideInRight 0.5s $smooth forwards;
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
