$backgroundPrimary: #002439;
$backgroundSecondary: #391500;
$backgroundLight: #005066;
$backgroundLightSecondary: #661600;

$textPrimary: #e4eff0;
$textDarken: #4e7988;

$textSecondary: #F0E5E4;
$textSecondaryDarken: #885D4E;

$primary: #78cce2;
$secondary: #e28e78;