@use 'sass:color';
@use 'sass:map';

$backgroundPrimary: #0e141b;
$backgroundSecondary: #1b150e;
$backgroundLight: #002439;
$backgroundLightSecondary: #391500;

$textPrimary: #e4eff0;

$primary: #78cce2;
$secondary: #e28e78;

$disabled: desaturate(darken($textPrimary, 50%), 75%);

$sectionColors: (
  'basic-info': (
    'background': transparent,
    'text': $textPrimary,
  ),
  'websites': (
    'background': $backgroundLight,
    'text': $textPrimary,
  ),
  'game-development': (
    'background': color.adjust($backgroundLight, $hue: + 340deg),
    'text': lighten(color.adjust($backgroundLight, $hue: + 340deg), 75%),
  ),
  'microcontrollers': (
    'background': color.adjust($backgroundLight, $hue: + 320deg),
    'text': lighten(color.adjust($backgroundLight, $hue: + 320deg), 75%),
  ),
  'computer-graphics': (
    'background': color.adjust($backgroundLight, $hue: + 120deg),
    'text': lighten(color.adjust($backgroundLight, $hue: + 120deg), 75%),
  ),
);

@function getDarkenText($color) {
  @return darken($color, 50%);
}
@function getDivider($color) {
  @return rgba(lighten($color, 50%), 0.1);
}

@each $name, $colors in $sectionColors {
  .#{$name} .text-darken {
    color: getDarkenText(map.get($colors, 'text'));
    fill: getDarkenText(map.get($colors, 'text'));
  }
}

@each $name, $colors in $sectionColors {
  .#{$name} .divider {
    background-color: getDivider(map.get($colors, 'background'));
  }
}
