@import 'common-styles/palette.scss';
@import 'common-styles/animation.scss';
@import 'common-styles/typography.scss';
@import 'common-styles/consts.scss';

.gallery-main {
  $shadowSize: 0.2rem;

  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 32rem;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;

  perspective: $perspective;

  & > .gallery-item {
    position: absolute;
    top: $shadowSize;
    bottom: $shadowSize;
    margin-inline: auto;

    width: auto;
    height: calc(100% - $shadowSize * 2);
    overflow: visible;

    transition: transform 0.4s $smooth;

    $shiftStepBase: var(--galleryHeight, 256px);
    $angleStart: 60deg;
    $angleStep: 10deg;
    $angleMax: 90deg;
    $scaleFactor: 0.618;

    &.pos-0 {
      z-index: 33;
      transform: translateX(0) rotate(0) scale(1);
      & > img {
        box-shadow: 0 0 0 $shadowSize desaturate(lighten(teal, 20%), 50%);
      }
    }
    //NOTE: increase `through` value to support more images in the gallery
    @for $i from 1 through 32 {
      &.pos-#{$i} {
        z-index: 33 - $i;
        transform: translateX(calc(#{$shiftStepBase} * pow($i, 0.5) * 1.25))
          rotateY(-($angleStart + $angleStep * ($i - 1)))
          scale($scaleFactor);
      }
      &.pos--#{$i} {
        z-index: 33 - $i;
        transform: translateX(calc(#{$shiftStepBase} * pow($i, 0.5) * -1.25))
          rotateY(($angleStart + $angleStep * ($i - 1)))
          scale($scaleFactor);
      }
    }

    & > img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;

      border-radius: 1rem;
      box-shadow: 0 0 0 $shadowSize desaturate(lighten($backgroundLight, 20%), 50%);

      opacity: 0;
      transition:
        opacity 0.4s ease-in,
        box-shadow 0.4s ease-in-out;
      &.loaded {
        opacity: 1;
      }
    }

    & > .content {
      @extend .text-medium;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      overflow: hidden;
      background-color: rgba($backgroundLight, 0.5);
      backdrop-filter: blur(2px);
      overflow: hidden;
      border-top: 2px solid $backgroundLight;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      padding: 1rem 0.5rem;
      opacity: 0;
      transform: translateY(0%);

      transition:
        opacity 0.4s ease-in,
        transform 0.4s $smooth;
    }
    &.pos-0:hover > .content {
      opacity: 1;
      transform: translateY(calc(-100% - $shadowSize));
    }
  }

  & > .gallery-navigation-button {
    color: $textSecondary;
    background-color: rgba(desaturate(lighten($backgroundLight, 50%), 75%), 0.25);
    border-color: transparent;
    border-radius: 1rem;
    &:active {
      border-color: transparent !important;
    }
    & > * {
      opacity: 0.8;
    }

    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    &:not(:disabled):hover {
      opacity: 1;
    }

    position: absolute;
    width: calc(50% - 16rem);

    @media screen and (max-width: 48rem) {
      width: calc(50% - 4rem);
    }
    @media screen and (max-width: 32rem) {
      width: 50%;
    }

    height: 100%;

    z-index: 34;
    margin-block: auto;
    &.left {
      left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &.right {
      right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
