@import 'common-styles/palette.scss';
@import 'common-styles/animation.scss';

.sections-navigation-main {
  opacity: 0;
  @extend .fade-in;
  animation-delay: 2s;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;

  pointer-events: none;

  & > .inner-container {
    padding: 0.75rem 0.5rem;
    border-radius: 1rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-block: auto;
    min-width: 2.25rem;

    pointer-events: all;

    $dotSize: 0.5rem;

    &:hover > *::after {
      width: $dotSize * 2;
    }

    & > * {
      $transitionDuration: 0.4s;

      padding-block: 0.5rem;
      width: 100%;
      text-align: right;

      &:not(.active) {
        cursor: pointer;
      }

      &::after {
        content: '';
        display: block;
        margin-left: auto;
        width: $dotSize;
        height: $dotSize;
        border-radius: $dotSize;
        background-color: $textPrimary;
        opacity: 0.5;

        transition:
          width $transitionDuration $smooth,
          opacity $transitionDuration ease-in-out;
      }
      &.active::after {
        opacity: 1;
      }
      &:not(.active):hover::after {
        opacity: 1;
        width: $dotSize * 4;
      }
    }
  }
}
