@supports not (-moz-appearance: none) {
  .scroll-based-animation {
    animation-name: exit !important;
    animation-timeline: scroll(nearest block) !important;
    animation-delay: 0 !important;
  }

  .view-based-animation {
    animation-name: fifo-view;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-timeline: view();
    animation-delay: 0;
    animation-range: normal normal;
    animation-fill-mode: both;
  }
  .slide-in-from-left {
    animation-name: slide-in-from-left-view;
    animation-timing-function: ease-out;
  }
  .slide-in-from-right {
    animation-name: slide-in-from-right-view;
    animation-timing-function: ease-out;
  }
}

@keyframes enter-view {
  from {
    transform: scale(0.618);
    filter: blur(12px);
    opacity: 0;
  }
  to {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes exit {
  to {
    transform: scale(0.618);
    filter: blur(12px);
    opacity: 0;
  }
}

@keyframes fifo-view {
  0% {
    opacity: 0;
    transform: scale(1.618);
    filter: blur(6px);
  }
  30% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes slide-in-from-left-view {
  0% {
    transform: scale(1.618) translate(calc(var(--spacing) * -100), 38.2%);
    opacity: 0;
  }
  30% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-from-right-view {
  0% {
    transform: scale(1.618) translate(calc(var(--spacing) * 100), 38.2%);
    opacity: 0;
  }
  30% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}
