@import 'common-styles/palette.scss';
@import 'common-styles/animation.scss';

.basic-info-main {
  padding-block: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  height: auto;
  width: 100%;
  position: relative;

  & > .basic-info-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba($backgroundLight, 0);
    overflow: hidden;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &::after {
      top: 0;

      $borderSize: 2px;
      border-block: $borderSize solid rgba($textPrimary, 0.25);
      height: calc(100% - $borderSize * 2);

      @extend .zoom-in-x;
      animation-delay: 3s;
      animation-duration: 0.6s;
    }
    &::before {
      // TODO: some subtle background pattern (maybe something with lines)
      $gradientSpread: 16rem;
      background: linear-gradient(
        130deg,
        $backgroundPrimary calc(50% - $gradientSpread),
        mix($backgroundPrimary, $backgroundLight, 60%) calc(50% + $gradientSpread)
      );

      transform: translateX(100%);
      opacity: 0;
      animation: backgroundSlideIn 0.8s 4.4s $smooth forwards;
      @keyframes backgroundSlideIn {
        from {
          opacity: 0;
          transform: translateX(100%);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  & > * {
    margin-inline: auto;
  }
}

.basic-info-grid-2x2 {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;

  & > * {
    margin-inline: auto;
    font-weight: bold;
  }
}
