@import '../style/palette.scss';
@import '../style/animation.scss';

.navigator {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &>div {
    pointer-events: all;
    padding: 2rem;
    padding-right: 0.5rem;

    opacity: 0;
    animation: fadeIn 2s 2s $smooth forwards;

    &>div {
      $size: 0.75rem;

      width: $size;
      height: $size;
      border-radius: $size / 2;
      background-color: $textPrimary;
      box-shadow: 0 0 8px $neonColor;

      &:not(.active) {
        cursor: pointer;

        &:hover {
          background-color: $textPrimaryComplementary;
          box-shadow: 0 0 8px $neonColorComplementary;
        }
      }

      transition: transform 0.5s $springEase,
      background-color 0.2s $smooth,
      box-shadow 0.2s $smooth,
      margin 0.1s linear,
      padding 0.1s linear;
      transform: translateX(0);

      &.hide {
        transform: translateX(calc(100% + 0.5rem + 8px)); // 0.5rem (right padding) + 8px (box-shadow radius)
      }
    }
  }
}