@import '../../style/animation.scss';
@import '../../style/palette.scss';

.adjacent-view-navigation-button {
  $size: 1.5rem;
  $sizeExpanded: 3rem;
  $radius: $size;

  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 64rem;
  margin-inline: auto;
  opacity: 0;

  display: flex;
  justify-content: center;

  &.previous {
    top: 0;

    &>button {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
      border-top: none;
      align-items: flex-start;

      &>.info {
        bottom: $size/4;
        transform: translateY($size);
      }
    }

    &.show {
      transform: translateY(0);
    }

    &:not(.show) {
      transform: translateY(-$size);
    }
  }

  &.next {
    bottom: 0;

    &>button {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
      border-bottom: none;
      align-items: flex-end;

      &>.info {
        top: $size/4;
        transform: translateY(-$size);
      }
    }

    &.show {
      transform: translateY(0);
    }

    &:not(.show) {
      transform: translateY($size);
    }
  }

  &.show {
    opacity: 1;
  }

  &:not(.show)>button {
    min-width: 10%;
  }

  transition: opacity 0.5s 1s $smooth,
  transform 0.5s 1s $smooth;

  &>button {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;

    border: none;
    outline: none;
    min-width: 61.8%;
    overflow: hidden;
    background-color: rgba(mix($backgroundBase, $textPrimary, 85%), 0.125);
    border: 2px solid rgba($textPrimary, 0.025);

    height: $size;

    box-shadow: 0 0 16px rgba($neonColor, 0);

    &:hover {
      border-color: rgba($neonColor, 1);
      background-color: rgba(mix($backgroundBase, $neonColor, 85%), 0.5);
      height: $sizeExpanded;
      box-shadow: 0 0 16px $neonColor;

      &>.info {
        opacity: 1;
        transform: translateY(0)
      }

      &>svg {
        opacity: 1;
      }
    }

    transition: min-width 0.5s 1s $smooth,
    height 0.25s $smooth,
    border-color 0.25s $smooth,
    box-shadow 0.5s $smooth,
    background-color 0.5s $smooth;

    &>svg {
      max-height: $size;
      color: $textPrimary;
      opacity: 0.25;

      transition: opacity 0.25s $smooth;
    }

    &>.info {
      position: absolute;
      left: 0;
      right: 0;

      text-align: center;
      color: $textPrimary;
      font-size: 0.7rem;
      opacity: 0;

      transition: opacity 0.25s $smooth, transform 0.5s $smooth;
    }
  }
}