@import 'common-styles/animation.scss';

.technologies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  height: 4rem;
  max-height: 9rem;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 3rem;
  padding-top: 2rem;
  margin-top: -2rem;

  @extend .fade-in;
  opacity: 0;
  animation-delay: 2s;

  & > .technologies-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-inline: auto;

    & > * {
      @extend .shrink-fade-in;
      animation-duration: 0.75s;
    }
  }
}

.technologies,
.technologies > .technologies-list > * {
  animation-play-state: paused;
}

.section-active .technologies,
.section-active .technologies > .technologies-list > * {
  animation-play-state: running;
}
