@import 'common-styles/palette.scss';
@import 'common-styles/animation.scss';

.title-main {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: stretch;
  column-gap: 1rem;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    height: 1px;
    border-radius: 1px;
    background-color: $divider;
  }
  &::before {
    @extend .slide-in-left;
  }
  &::after {
    @extend .slide-in-right;
  }

  & > * {
    @media screen and (max-width: 48rem) {
      font-size: 1.4rem !important;
    }
    @media screen and (max-width: 32rem) {
      font-size: 1rem !important;
    }
  }
}
