@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: 14.86% 0.0148 235.04;
  --foreground: 98.21% 0.0148 236.45;
  --card: 18.17% 0.0211 238.58;
  --card-foreground: 98.21% 0.0008 236.45;
  --popover: 18.17% 0.0211 238.58;
  --popover-foreground: 0.98 0.003 240;
  --primary: 65.92% 0.1455 243.6;
  --primary-foreground: 16.14% 0.0027 236.68;
  --secondary: 28.17% 0.0337 238.78;
  --secondary-foreground: 98.21% 0.0008 236.45;
  --muted: 28.17% 0.0337 238.78;
  --muted-foreground: 64.3% 0.0162 236.81;
  --accent: 28.17% 0.0337 238.78;
  --accent-foreground: 64.3% 0.0162 236.81;
  --destructive: 39.59% 0.1331 25.72;
  --destructive-foreground: 98.21% 0.0008 236.45;
  --border: 28.17% 0.0337 238.78;
  --input: 28.17% 0.0337 238.78;
  --ring: 65.92% 0.1455 243.6;
  --radius: 0.625rem;

  /* Outside shadcn theme */
  --red-400: 65.39% 0.1926 25.14;
  --green-400: 71.85% 0.1417 144.89;
  --blue-400: 70.02% 0.1488 246.66;
  --yellow-400: 93.64% 0.1657 102.81;
}

@theme inline {
  --color-background: oklch(var(--background));
  --color-foreground: oklch(var(--foreground));
  --color-card: oklch(var(--card));
  --color-card-foreground: oklch(var(--card-foreground));
  --color-popover: oklch(var(--popover));
  --color-popover-foreground: oklch(var(--popover-foreground));
  --color-primary: oklch(var(--primary));
  --color-primary-foreground: oklch(var(--primary-foreground));
  --color-secondary: oklch(var(--secondary));
  --color-secondary-foreground: oklch(var(--secondary-foreground));
  --color-muted: oklch(var(--muted));
  --color-muted-foreground: oklch(var(--muted-foreground));
  --color-accent: oklch(var(--accent));
  --color-accent-foreground: oklch(var(--accent-foreground));
  --color-destructive: oklch(var(--destructive));
  --color-destructive-foreground: oklch(var(--destructive-foreground));
  --color-border: oklch(var(--border));
  --color-input: oklch(var(--input));
  --color-ring: oklch(var(--ring));

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --scale-golden: 1.618;
  --scale-golden-inverse: 0.618;

  --backdrop-blur-xs: 2px;

  --ease-bounce: cubic-bezier(.5, -0.5, .5, 1.5);
  --transition-duration-bounce: 400ms;
  --default-transition-duration: 0.3s;
  --default-transition-timing-function: ease-in-out;
  --breakpoint-xs: 480px;
}

@layer utilities {
  @font-face {
    font-family: "Space Grotesk";
    font-weight: 300 700;
    font-display: swap;
    font-style: normal;
    src: url("/SpaceGrotesk-Variable.ttf") format("truetype");
  }

  :root {
    font-family: "Space Grotesk", system-ui, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-synthesis: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  [data-slot="button"] {
    @apply cursor-pointer;
  }

  [data-slot="tooltip-content"] {
    @apply bg-card/50! backdrop-blur-sm text-foreground! border border-muted **:[svg]:hidden!;
  }

  [data-slot="scroll-area-thumb"] {
    @apply transition-colors hover:bg-primary/50! active:bg-primary!;
  }

  [data-slot="skeleton"] {
    @apply bg-[color-mix(in_oklch,var(--color-muted-foreground)_50%,_var(--color-background))]!;
  }
}

@utility fixed-stroke {
  vector-effect: non-scaling-stroke;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility animate-data {
  @apply in-data-[current*=true]:animate-in in-data-[current=false]:animate-out fill-mode-both duration-800 origin-center;
}

@utility view-transition-base {
  @apply animate-data zoom-in-160 fade-in zoom-out-60 fade-out;
}

@utility view-transition-separator {
  @apply animate-data zoom-in-0;
}

@utility navigation-transition {
  @apply animate-data slide-in-from-left fade-in slide-out-to-left fade-out;
}

@utility glass-card {
  @apply bg-linear-150 from-foreground/7 via-foreground/13 to-foreground/7 backdrop-blur-sm p-4 rounded-lg border border-foreground/10 shadow-[0_0_calc(var(--spacing)*6)_oklch(var(--foreground)_/_0.125)];
}

@utility glass-card-dark {
  @apply bg-accent/20 backdrop-blur-sm border border-border rounded-lg hover:shadow-[0_0_calc(var(--spacing)*12)_var(--color-accent)_inset] transition-[box-shadow];
}