@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(14.86% 0.0148 235.04);
  --foreground: oklch(98.21% 0.0148 236.45);
  --card: oklch(18.17% 0.0211 238.58);
  --card-foreground: oklch(98.21% 0.0008 236.45);
  --popover: oklch(18.17% 0.0211 238.58);
  --popover-foreground: oklch(0.98 0.003 240);
  --primary: oklch(65.92% 0.1455 243.6);
  --primary-foreground: oklch(16.14% 0.0027 236.68);
  --secondary: oklch(28.17% 0.0337 238.78);
  --secondary-foreground: oklch(98.21% 0.0008 236.45);
  --muted: oklch(28.17% 0.0337 238.78);
  --muted-foreground: oklch(64.3% 0.0162 236.81);
  --accent: oklch(28.17% 0.0337 238.78);
  --accent-foreground: oklch(64.3% 0.0162 236.81);
  --destructive: oklch(39.59% 0.1331 25.72);
  --destructive-foreground: oklch(98.21% 0.0008 236.45);
  --border: oklch(28.17% 0.0337 238.78);
  --input: oklch(28.17% 0.0337 238.78);
  --ring: oklch(65.92% 0.1455 243.6);
  --radius: 0.625rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --default-transition-duration: 0.3s;
}

@layer utilities {
  :root {
    font-family: "Inter", system-ui, Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
    font-synthesis: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground
      
    **:data-[slot=button]:cursor-pointer

      **:data-[slot=button]:[a]:hover:no-underline!
      **:data-[slot=button]:[a]:relative
      **:data-[slot=button]:[a]:after:absolute **:data-[slot=button]:[a]:after:bottom-0
      **:data-[slot=button]:[a]:after:h-0.5 **:data-[slot=button]:[a]:after:w-full
      **:data-[slot=button]:[a]:after:rounded-full
      **:data-[slot=button]:[a]:after:bg-primary
      **:data-[slot=button]:[a]:after:opacity-0 **:data-[slot=button]:[a]:after:scale-x-0
      **:data-[slot=button]:[a]:hover:after:opacity-100 **:data-[slot=button]:[a]:hover:after:scale-x-100
      **:data-[slot=button]:[a]:after:transition-[opacity,scale];
  }
}

@utility fixed-stroke {
  vector-effect: non-scaling-stroke;
}
