@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: 0.2489 0.0439 184.84;
  --background-lighter: 0.4668 0.084459 180.3974; /* teal 800 */
  --background-visual: 0.3853 0.0347 173.194; /*! Should not be used for regular styling */

  --background-tetradic-1: 0.1492 0.0439 296.37; /* from background with the same chroma */
  --background-tetradic-2: 0.1751 0.0439 19.99; /* from background with the same chroma */
  --background-tetradic-3: 0.2528 0.0439 128.92; /* from background with the same chroma */

  --background-lighter-tetradic-1: 0.2643 0.0528 286.63; /* from background lighter - 0.1 chroma */
  --background-lighter-tetradic-2: 0.3283 0.0329 24.35; /* from background lighter - 0.1 chroma */
  --background-lighter-tetradic-3: 0.4732 0.0281 130.4; /* from background lighter - 0.1 chroma */

  --foreground-darker: 0.7912 0.0755 188.24; /* teal 200 */
  --foreground: 0.8708 0.047 189.63; /* teal 100 */
  --foreground-lighter: 0.9476 0.019 192.81; /* teal 50 */

  --foreground-complementary: 0.8049 0.1526 12.32; /* complementary(--foreground); h+0.1 */
  --foreground-tetradic-1: 0.7936 0.0656 303.16; /* teal 100 tetradic 1 */
  --foreground-tetradic-2: 0.8049 0.0526 12.32; /* teal 100 tetradic 2 (same as complementary) */
  --foreground-tetradic-3: 0.8786 0.0631 125.41; /* teal 100 tetradic 3 */

  --muted-foreground: 0.7912 0.0255 188.24; /* teal 200; h-0.05 */

  --border: 0.6563 0.1071 185.34; /* teal 400 */

  --radius: 0.5rem;
}

@media print {
  :root {
    --background: 1 0 0;
    --background-lighter: 1 0 0;
    --background-visual: 1 0 0;
    --background-tetradic-1: 1 0 0;
    --background-tetradic-2: 1 0 0;
    --background-tetradic-3: 1 0 0;
    --background-lighter-tetradic-1: 1 0 0;
    --background-lighter-tetradic-2: 1 0 0;
    --background-lighter-tetradic-3: 1 0 0;
    --foreground-darker: 0 0 0;
    --foreground: 0 0 0;
    --foreground-lighter: 0 0 0;
    --foreground-complementary: 0 0 0;
    --foreground-tetradic-1: 0 0 0;
    --foreground-tetradic-2: 0 0 0;
    --foreground-tetradic-3: 0 0 0;
    --muted-foreground: 0 0 0;
    --border: 0 0 0;
  }
}

@theme inline {
  --color-background: oklch(var(--background));
  --color-background-lighter: oklch(var(--background-lighter));
  --color-background-visual: oklch(var(--background-visual));

  --color-background-tetradic-1: oklch(var(--background-tetradic-1));
  --color-background-tetradic-2: oklch(var(--background-tetradic-2));
  --color-background-tetradic-3: oklch(var(--background-tetradic-3));

  --color-background-lighter-tetradic-1: oklch(var(--background-lighter-tetradic-1));
  --color-background-lighter-tetradic-2: oklch(var(--background-lighter-tetradic-2));
  --color-background-lighter-tetradic-3: oklch(var(--background-lighter-tetradic-3));

  --color-foreground-darker: oklch(var(--foreground-darker));
  --color-foreground: oklch(var(--foreground));
  --color-foreground-lighter: oklch(var(--foreground-lighter));

  --color-foreground-complementary: oklch(var(--foreground-complementary));
  --color-foreground-tetradic-1: oklch(var(--foreground-tetradic-1));
  --color-foreground-tetradic-2: oklch(var(--foreground-tetradic-2));
  --color-foreground-tetradic-3: oklch(var(--foreground-tetradic-3));

  --color-muted-foreground: oklch(var(--muted-foreground));

  --color-border: oklch(var(--border));

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --scale-golden: 1.618;
  --scale-golden-inverse: 0.618;

  --default-transition-duration: 300ms;
  --default-transition-timing-function: cubic-bezier(0.66, 0, 0.34, 1);
  --breakpoint-xs: 480px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;

  --spacing-header: 3rem; /* Used as fixed height in header.tsx */

  --transition-duration-spring: 1800ms;
  --ease-spring: linear(
    0,
    0.01 0.7%,
    0.039 1.4%,
    0.162 3%,
    0.328 4.5%,
    0.839 8.6%,
    1.067 10.9%,
    1.154 12.1%,
    1.214 13.2%,
    1.254 14.3%,
    1.276 15.5%,
    1.278 16.9%,
    1.254 18.5%,
    1.207 20.2%,
    1.058 24.5%,
    0.993 26.7%,
    0.944 29.2%,
    0.923 31.7%,
    0.929 34.8%,
    1.002 43%,
    1.021 47.8%,
    0.994 63.7%,
    1.002 79.7%,
    1
  );
}

@layer utilities {
  @font-face {
    font-family: 'Space Grotesk';
    font-weight: 300;
    font-display: swap;
    font-style: normal;
    src: url('/font/SpaceGrotesk-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url('/font/SpaceGrotesk-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: url('/font/SpaceGrotesk-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Space Grotesk';
    font-weight: 600;
    font-display: swap;
    font-style: normal;
    src: url('/font/SpaceGrotesk-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url('/font/SpaceGrotesk-Bold.ttf') format('truetype');
  }

  :root {
    font-family: 'Space Grotesk', system-ui, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-synthesis: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer base {
  * {
    @apply border-border outline-none;
  }

  html {
    @apply bg-background-visual;
  }
  body {
    @apply bg-background-visual fill-foreground text-foreground;
  }

  button {
    @apply cursor-pointer;
  }
  a {
    @apply hover:text-foreground-complementary transition-colors fill-current;
  }

  @media print {
    /* TODO: adjust */
    @page {
      margin-top: 0;
      margin-bottom: 0;
    }
    html, body {
      @apply bg-white p-0 text-background print:**:[span]:text-[#001814] print:**:[svg]:fill-[#001814];
      background-image: none;
      print-color-adjust: economy;
    }

    canvas,
    .animejs-onscroll-debug {
      display: none !important;
    }
  }

  @media not print {
    [data-entry-animation],
    [data-entry-animation-type] {
      @apply duration-spring ease-spring;
    }

    [data-entry-animation],
    [data-entry-animation-type='default'] [data-entry-animation-type='zoom-in'] {
      @apply scale-golden opacity-0 transition-[opacity,scale] data-[entry-animation=entered]:scale-100 data-[entry-animation=entered]:opacity-100;
    }

    [data-entry-animation-type='from-left'] {
      @apply -translate-x-24;
    }
    [data-entry-animation-type='from-right'] {
      @apply translate-x-24;
    }
    [data-entry-animation-type='from-top'] {
      @apply -translate-y-24;
    }
    [data-entry-animation-type='from-bottom'] {
      @apply translate-y-24;
    }

    [data-entry-animation-type='from-left'],
    [data-entry-animation-type='from-right'],
    [data-entry-animation-type='from-top'],
    [data-entry-animation-type='from-bottom'] {
      @apply opacity-0 transition-[opacity,translate] data-[entry-animation=entered]:translate-x-0 data-[entry-animation=entered]:translate-y-0 data-[entry-animation=entered]:opacity-100;
    }

    [data-entry-animation-type='zoom-in'] {
      @apply scale-x-0 scale-y-0;
    }
    [data-entry-animation-type='zoom-in-x'] {
      @apply scale-x-0;
    }

    [data-entry-animation-type='zoom-in'],
    [data-entry-animation-type='zoom-in-x'] {
      @apply opacity-50 transition-[opacity,scale] data-[entry-animation=entered]:scale-x-100 data-[entry-animation=entered]:scale-y-100 data-[entry-animation=entered]:opacity-100;
    }

    [data-entry-animation-type='fade-in'] {
      @apply opacity-0 transition-opacity data-[entry-animation=entered]:opacity-100;
    }
  }
}

/* Should be set on <path> selector rather than <svg> */
@utility fixed-stroke {
  vector-effect: non-scaling-stroke;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
